@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100&display=swap");
.atop {
  width: 100vw;
  height: 50vh;
  position: relative;
}
.coco {
  position: absolute;
  background-color: rgba(10, 10, 10, 0.596);
  height: 50vh;
  width: 100vw;
}
.apic {
  position: absolute;
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  top: 0;
  left: 0;
}
.ha {
  position: absolute;
  left: 25%;
  top: 35%;
}
.ha h2 {
  color: rgb(226, 115, 11);
  font-size: 32px;
  text-transform: capitalize;
}
.ssss {
  font-style: italic;
  font-size: 22px;
  color: rgb(255, 255, 255);
}
.ha h6 {
  color: rgb(255, 255, 255);
  font-size: 22px;
  text-transform: capitalize;
}
.mwili {
  width: 80vw;
  margin: auto;
}
.abody {
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 700;
  font-size: 19px;
}
.mwili h2 {
  color: #507674;
  text-transform: capitalize;
}
.pdate {
  font-size: 16px;
  font-style: italic;
}
