.md {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mh {
  color: rgb(255, 187, 0);
  font-size: 22px;
  padding-bottom: 5px;
}
.mi {
  font-size: 20px;
  color: red;
  cursor: pointer;
  padding: 2px;
}
.mu {
  font-size: 22px;
  padding: 2px;
  color: rgba(0, 0, 255, 0.74);

  padding-right: 10px;
}
.mcm {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sse {
  width: 40vw;
}
.mse h3 {
  font-size: 18px;
  padding-top: 10px;
}
.ui {
  font-size: 18px;
  font-weight: 600;
}
.be{
  position: relative;
}
.ssm {
  float: right;
  color: #eee;
  border-radius: 3px;
  background-color: blue;
  margin-top: 5px;
  font-size: 16px;
  padding: 5px;
}
.ss {

  color: #eee;
  width: 100px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  background-color: rgb(55, 0, 255);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 16px;
  padding: 5px;
}
@media (max-width: 800px) {
  .sse {
    width: 100%;
  }
}
