@import url("https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
.modal-dialog {
  width: 480px;

  height: 600px !important;
}
.navbar {
  /* background-image: url("../images/home1.jpg"); */
  /* background-color: #a841a3; */
}
.ghj {
  display: flex;
  justify-content: space-around;
}
.hehehe {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.616);
  align-items: center;
}
.no {
  padding-left: 50px;
  font-size: 22px;
  color: rgb(197, 124, 40);
}
.he {
  padding-left: 20px;
  color: #eee;
  font-size: 30px;
  font-family: "Prata", serif;
}
.site-navbar {
  display: none;
}
.nav-link {
  font-family: "Barlow Condensed", sans-serif;
  color: white;
  font-size: 1.5em;
  border-radius: 1rem;
}
.dropdown-item {
  font-family: "Barlow Condensed", sans-serif;
}
.dropdown-toggle {
  font-family: "Barlow Condensed", sans-serif;
}
.nav-link:hover {
  background-color: #c5b0c4;
}
.modal-content {
  /* 80% of window height */

  height: 50%;
}
.right {
  padding-right: 5px;
}
#container {
  background-image: linear-gradient(
    to top,
    rgba(205, 156, 242, 0.4) 0%,
    rgba(246, 255, 255, 0.71) 100%
  );
  margin: 3em;
  background: rgba(255, 255, 255, 0.95);

  padding: 1em;
}
.navbar-brand {
}

.dropdown-menu {
  background-color: #a841a3;
  border-radius: 1rem;
}
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: 0.3s;
}
.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}

@media screen and (max-width: 550px) {
  .navbar {
    display: none;
  }
  .nav-toggler {
    display: block;
    margin-top: 10px;
    z-index: 1;
  }
  .site-navbar {
    min-height: 60px;
    display: block;
    z-index: 5;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 10px;
    flex-direction: column;
    align-items: center;
    /* border-top: 1px solid #444; */
    background-color: rgba(0, 0, 0, 0.75);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
    z-index: 1;
  }

  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }

  .navbar-area {
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #000;
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .site-navbar ul li a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }
  .site-navbar ul li a:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  /* navbar regular css end */

  /* nav-toggler css start */
  /* navbar css for mobile end */
}
/* mobile breakpoint end */
