.slide-container {
  width: 100vw;
  height: 70vh;
  position: relative;
}
.dk {
  width: 100vw;
  height: 70vh;
}
.each-slide {
  position: absolute;
  top: 0;
  left: 0;
}
.iim {
  position: absolute;
  top: 0;
  left: 0;
  height: 70vh;
  width: 100vw;
  object-fit: cover;
}
.image-container {
  position: relative;
  height: 70vh;
  width: 100vw;
}
.kemikal {
  position: absolute;
  top: 0;
  left: 0;
  height: 70vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}
.bh {
  position: absolute;
  top: 40%;
  left: 20%;
}
.bh h1 {
  color: #f58032;
  font-size: 24px;
  padding-bottom: 20px;
}
.bh h2 {
  color: #ffffff;
  font-size: 36px;
}
